@import url('https://fonts.googleapis.com/css2?family=Romanesco&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  background-color: #F8E8EE; 
}

.romanesco {
  font-family: "Romanesco", cursive;
  font-weight: 400;
  font-style: normal;
}